In [2]:
import pandas as pd 
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import random
from pprint import pprint

In [3]:
# word_labels = ["make", "address", "all", "3d", "our", "over", "remove", "internet",
#                 "order", "mail", "receive", "will", "people", "report", "addresses",
#                 "free", "business", "email", "you", "credit", "your", "font", "000",
#                 "money", "hp", "hpl", "george", "650", "lab", "labs", "telnet", "857",
#                 "data", "415", "85", "technology", "1999", "parts", "pm", "direct", "cs",
#                 "meeting", "original", "project", "re", "edu", "table", "conference", "char_freq1", "char_freq2", "char_freq3", 
#               "char_freq4", "char_freq5", "char_freq6"]
data = pd.read_csv("spambase/spambase.data", header=None)

In [4]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1

In [5]:
data = data.rename(columns = {57 : "label"})

In [6]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,label
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4601 entries, 0 to 4600
Data columns (total 58 columns):
0        4601 non-null float64
1        4601 non-null float64
2        4601 non-null float64
3        4601 non-null float64
4        4601 non-null float64
5        4601 non-null float64
6        4601 non-null float64
7        4601 non-null float64
8        4601 non-null float64
9        4601 non-null float64
10       4601 non-null float64
11       4601 non-null float64
12       4601 non-null float64
13       4601 non-null float64
14       4601 non-null float64
15       4601 non-null float64
16       4601 non-null float64
17       4601 non-null float64
18       4601 non-null float64
19       4601 non-null float64
20       4601 non-null float64
21       4601 non-null float64
22       4601 non-null float64
23       4601 non-null float64
24       4601 non-null float64
25       4601 non-null float64
26       4601 non-null float64
27       4601 non-null float64
28       4601 non-null float64
29       4601 non-null float64
30       4601 non-null float64
31       4601 non-null float64
32       4601 non-null float64
33       4601 non-null float64
34       4601 non-null float64
35       4601 non-null float64
36       4601 non-null float64
37       4601 non-null float64
38       4601 non-null float64
39       4601 non-null float64
40       4601 non-null float64
41       4601 non-null float64
42       4601 non-null float64
43       4601 non-null float64
44       4601 non-null float64
45       4601 non-null float64
46       4601 non-null float64
47       4601 non-null float64
48       4601 non-null float64
49       4601 non-null float64
50       4601 non-null float64
51       4601 non-null float64
52       4601 non-null float64
53       4601 non-null float64
54       4601 non-null float64
55       4601 non-null int64
56       4601 non-null int64
label    4601 non-null int64
dtypes: float64(55), int64(3)
memory usage: 2.0 MB

In [8]:
# Splitting the data set into train and test

In [9]:
def train_test_split(data, test_size):
    test_size = round(test_size* len(data))
    index_list = data.index.tolist()
    test_index = random.sample(population = index_list, k = test_size)
    test_data = data.loc[test_index]
    train_data = data.drop(test_index)
    return train_data, test_data

In [10]:
random.seed(0)
train_data, test_data = train_test_split(data, test_size=0.20)

In [11]:
# Converting the pandas dataframe into numpy 2D array
data = data.values

In [12]:
data[:5]

array([[0.000e+00, 6.400e-01, 6.400e-01, 0.000e+00, 3.200e-01, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 6.400e-01,
        0.000e+00, 0.000e+00, 0.000e+00, 3.200e-01, 0.000e+00, 1.290e+00,
        1.930e+00, 0.000e+00, 9.600e-01, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 7.780e-01, 0.000e+00, 0.000e+00,
        3.756e+00, 6.100e+01, 2.780e+02, 1.000e+00],
       [2.100e-01, 2.800e-01, 5.000e-01, 0.000e+00, 1.400e-01, 2.800e-01,
        2.100e-01, 7.000e-02, 0.000e+00, 9.400e-01, 2.100e-01, 7.900e-01,
        6.500e-01, 2.100e-01, 1.400e-01, 1.400e-01, 7.000e-02, 2.800e-01,
        3.470e+00, 0.000e+00, 1.590e+00, 0.000e+00, 4.300e-01, 4.300e-01,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        7.000e-02, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 1.320e-01, 0.000e+00, 3.720e-01, 1.800e-01, 4.800e-02,
        5.114e+00, 1.010e+02, 1.028e+03, 1.000e+00],
       [6.000e-02, 0.000e+00, 7.100e-01, 0.000e+00, 1.230e+00, 1.900e-01,
        1.900e-01, 1.200e-01, 6.400e-01, 2.500e-01, 3.800e-01, 4.500e-01,
        1.200e-01, 0.000e+00, 1.750e+00, 6.000e-02, 6.000e-02, 1.030e+00,
        1.360e+00, 3.200e-01, 5.100e-01, 0.000e+00, 1.160e+00, 6.000e-02,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 6.000e-02, 0.000e+00, 0.000e+00,
        1.200e-01, 0.000e+00, 6.000e-02, 6.000e-02, 0.000e+00, 0.000e+00,
        1.000e-02, 1.430e-01, 0.000e+00, 2.760e-01, 1.840e-01, 1.000e-02,
        9.821e+00, 4.850e+02, 2.259e+03, 1.000e+00],
       [0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 6.300e-01, 0.000e+00,
        3.100e-01, 6.300e-01, 3.100e-01, 6.300e-01, 3.100e-01, 3.100e-01,
        3.100e-01, 0.000e+00, 0.000e+00, 3.100e-01, 0.000e+00, 0.000e+00,
        3.180e+00, 0.000e+00, 3.100e-01, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 1.370e-01, 0.000e+00, 1.370e-01, 0.000e+00, 0.000e+00,
        3.537e+00, 4.000e+01, 1.910e+02, 1.000e+00],
       [0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 6.300e-01, 0.000e+00,
        3.100e-01, 6.300e-01, 3.100e-01, 6.300e-01, 3.100e-01, 3.100e-01,
        3.100e-01, 0.000e+00, 0.000e+00, 3.100e-01, 0.000e+00, 0.000e+00,
        3.180e+00, 0.000e+00, 3.100e-01, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00, 0.000e+00,
        0.000e+00, 1.350e-01, 0.000e+00, 1.350e-01, 0.000e+00, 0.000e+00,
        3.537e+00, 4.000e+01, 1.910e+02, 1.000e+00]])

In [13]:
# check if the split makes sense(i.e if one of the bucket after split contains the unmixed data)
# returns a boolean true if the split makes sense
def check_purity(data):
    labels = data[:, -1]
    num_classes = np.unique(labels)
    if(len(num_classes) == 1):
        return True
    else:
        return False

In [14]:
def data_classifier(data):
    #fetch the labels
    labels = data[:, -1]
    # unique classes into the bucket and data count for each class
    classes, class_data_count = np.unique(labels, return_counts=True)
    # finding what is maximum
    max_data_class = class_data_count.argmax()
    # class which has maximum data
    classification = classes[max_data_class]
    return classification

In [15]:
def get_potential_splits(data):
    potential_splits = {}
    _n , column_num = data.shape
    for column in range(column_num - 1):
        potential_splits[column] = []
        values = data[:, column]
        uni_values = np.unique(values)
        #unique values from each column
        for ind in range (len(uni_values)):
            if ind != 0:
                curr_value = uni_values[ind]
                prev_value = uni_values[ind - 1]
                potential_split = (curr_value + prev_value) / 2
                potential_splits[column].append(potential_split)
                
    return potential_splits

In [16]:
def split_data(data, split_column, split_value):
    split_col_val = data[:, split_column]
    data_below = data[split_col_val <= split_value]
    data_above = data[split_col_val > split_value]
    return data_below, data_above

In [17]:
def calculate_entropy(data):
    labels = data[:, -1]
    _, class_data_count = np.unique(labels, return_counts = True)
    probability = class_data_count/class_data_count.sum()
    entropy = sum(probability * (-np.log2(probability)))
    return entropy

In [18]:
def total_entropy(data_below, data_above):
    total_data_obj = len(data_below) + len(data_above)
    weigth_data_below = len(data_below) / total_data_obj
    weigth_data_above = len(data_above) / total_data_obj
    total_entropy = (weigth_data_below * calculate_entropy(data_below)) + (weigth_data_above * calculate_entropy(data_above))
    return total_entropy

In [19]:
#look at the potential splits and determine the split that results in lowest overall entropy
def determine_best_split(data, potential_splits):
    lowest_total_entropy = 999
    best_split_column = 0
    best_split_value = 0
    for col in potential_splits:
        for val in potential_splits[col]:
            data_below, data_above = split_data(data, split_column=col, split_value=val)
            curr_total_entropy = total_entropy(data_below, data_above)
            if curr_total_entropy <= lowest_total_entropy:
                lowest_total_entropy = curr_total_entropy
                best_split_column = col
                best_split_value = val
                
    return best_split_column, best_split_value

## Algorithm

In [20]:
# sub_tree = {deciding_factor: [true_ans, false_ans]}

In [21]:
def decision_tree(data, counter = 0):
    if(counter == 0):
        data = data.values
    else:
        data = data
        
    if check_purity(data):
        classification = data_classifier(data)
        return classification
    
    else:
        counter = counter + 1;
        
        potential_splits = get_potential_splits(data)
        split_column, split_value = determine_best_split(data, potential_splits)
        data_below, data_above = split_data(data, split_column, split_value)
        
        decision_factor = "{} <= {}".format(split_column, split_value)
        
        sub_tree = {decision_factor: []}
        
        true_ans = decision_tree(data_below, counter)
        false_ans = decision_tree(data_above, counter)
        
        sub_tree[decision_factor].append(true_ans)
        sub_tree[decision_factor].append(false_ans)
        
        return sub_tree

In [ ]:
tree = decision_tree(train_data)
tree