In [1]:
import numpy as np
import pandas as pd
import random
from __future__ import division, print_function
import math

In [2]:
word_labels = ["make", "address", "all", "3d", "our", "over", "remove", "internet",
                "order", "mail", "receive", "will", "people", "report", "addresses",
                "free", "business", "email", "you", "credit", "your", "font", "000",
                "money", "hp", "hpl", "george", "650", "lab", "labs", "telnet", "857",
                "data", "415", "85", "technology", "1999", "parts", "pm", "direct", "cs",
                "meeting", "original", "project", "re", "edu", "table", "conference", "char_freq1", "char_freq2", "char_freq3", 
              "char_freq4", "char_freq5", "char_freq6", "cap_run_length_avg", "cap_run_length_longest", "cap_run_length_total", "label"]
df = pd.read_csv("../spambase/spambase.data", names = word_labels, header=None) 
df.head()

,make,address,all,3d,our,over,remove,internet,order,mail,...,char_freq1,char_freq2,char_freq3,char_freq4,char_freq5,char_freq6,cap_run_length_avg,cap_run_length_longest,cap_run_length_total,label
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1

In [3]:
df['label'].replace(0, -1,inplace=True)
df.head()

,make,address,all,3d,our,over,remove,internet,order,mail,...,char_freq1,char_freq2,char_freq3,char_freq4,char_freq5,char_freq6,cap_run_length_avg,cap_run_length_longest,cap_run_length_total,label
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1

In [4]:
def train_test_split(df, test_size):
    
    if isinstance(test_size, float):
        test_size = round(test_size * len(df))

    index_list = df.index.tolist()
    test_indexes = random.sample(population=index_list, k=test_size)

    test_df = df.loc[test_indexes]
    train_df = df.drop(test_indexes)
    
    return train_df, test_df

In [5]:
random.seed(3)
train_df, test_df = train_test_split(df, 0.20)

In [6]:
X_train = train_df.iloc[: , :-1]
y_train = train_df.iloc[: , -1]

X_test = test_df.iloc[: , :-1]
y_test = test_df.iloc[: , -1]

In [7]:
# Determines if sample shall be classified as -1 or 1 given threshold
def make_clf_dict():
    clf_dict = {'label': 1, 'feature_name': None, 'threshold': None, 'alpha': None}
    return clf_dict

In [8]:
def predict(X):
    n_samples = np.shape(X)[0]
    y_pred = np.zeros((n_samples, 1))
    # For each classifier => label the samples
    for clf in clfs:
        # Set all predictions to '1' initially
        predictions = np.ones(np.shape(y_pred))
        # The indexes where the sample values are below threshold
        negative_idx = (clf['label'] * X[clf['feature_name']] < clf['label'] * clf['threshold'])
        # Label those as '-1'
        predictions[negative_idx] = -1
        # Add predictions weighted by the classifiers alpha
        # (alpha indicative of classifier's proficiency)
        y_pred += clf['alpha'] * predictions

    # Return sign of prediction sum
    y_pred = np.sign(y_pred).flatten()

    return y_pred

In [9]:
n_clf = 15

def fit(X, y):
    n_samples, n_features = np.shape(X)

    # Initialize weights to 1/N
    w = np.full(n_samples, (1 / n_samples))

    clfs = []
    # Iterate through classifiers
    for _ in range(n_clf):
        diff = []
        clf = make_clf_dict()
        # Minimum error given for using a certain feature value threshold
        # for predicting sample label
        min_error = float('inf')
        # Iterate throught every unique feature value and see what value
        # makes the best threshold for predicting y
        for column in X_train.columns:
            feature_values = np.expand_dims(X[column], axis=1)
            unique_values = np.unique(feature_values)
            # Try every unique feature value as threshold
            for threshold in unique_values:
                p = 1
                # Set all predictions to '1' initially
                prediction = np.ones(np.shape(y))
                # Label the samples whose values are below threshold as '-1'
                prediction[X[column] < threshold] = -1
                # Error = sum of weights of misclassified samples
                error = sum(w[y != prediction])

                # If the error is over 50% we flip the label so that samples that
                # were classified as 0 are classified as 1, and vice versa
                # E.g error = 0.8 => (1 - error) = 0.2
                if error > 0.5:
                    error = 1 - error
                    p = -1

                # If this threshold resulted in the smallest error we save the
                # configuration
                if error < min_error:
                    clf['label'] = p
                    clf['threshold'] = threshold
                    clf['feature_name'] = column
                    min_error = error
        # Calculate the alpha which is used to update the sample weights,
        # Alpha is also an approximation of this classifier's proficiency
        clf['alpha'] = 0.5 * math.log((1.0 - min_error) / (min_error + 1e-10))
        # Set all predictions to '1' initially
        predictions = np.ones(np.shape(y))
        # The indexes where the sample values are below threshold
        negative_idx = (clf['label'] * X[clf['feature_name']] < clf['label'] * clf['threshold'])
        diff.append(abs(clf['label'] * X[clf['feature_name']] - clf['label'] * clf['threshold']))
        diff.sort()
        s = len(diff)
        per = round((s*2)/100)
        dat = diff[:per]
        # Label those as '-1'
        predictions[negative_idx] = -1
        # Calculate new weights 
        # Missclassified samples gets larger weights and correctly classified samples smaller
        w *= np.exp(-clf['alpha'] * y * predictions)
        # Normalize to one
        w /= np.sum(w)

        # Save classifier
        clfs.append(clf)
    return clfs

In [10]:
clfs = fit(X_train, y_train)
y_pred = predict(X_test)
y_train_pred = predict(X_train)

0       0.694
1       0.288
2       0.192
3       0.053
4       0.051
5       0.084
6       0.080
7       0.084
8       0.097
9       0.160
10      0.378
11      0.579
12      0.702
16      0.344
17      1.891
18      0.371
20      0.645
21      0.166
23      0.583
24      0.308
25      0.166
26      0.308
27      0.284
30      0.802
31      2.028
32      0.084
33      0.084
34      0.084
35      1.459
36      0.789
        ...
4566    0.084
4567    0.084
4568    0.084
4569    0.084
4570    0.084
4571    0.002
4572    0.084
4573    0.015
4574    0.084
4575    0.084
4576    0.084
4577    0.084
4580    0.084
4582    0.084
4583    0.084
4584    0.043
4586    0.084
4587    0.084
4588    0.084
4589    0.084
4590    0.084
4591    0.084
4592    0.084
4593    0.968
4594    0.084
4595    0.084
4597    0.269
4598    0.084
4599    0.084
4600    0.041
Name: char_freq4, Length: 3681, dtype: float64
0       0.019
1       0.161
2       0.165
3       0.019
4       0.019
5       0.019
6       0.035
7       0.019
8       0.184
9       0.062
10      0.019
11      0.019
12      0.019
16      0.019
17      0.351
18      0.019
20      0.019
21      0.027
23      0.019
24      0.177
25      0.027
26      0.177
27      0.019
30      0.019
31      0.019
32      0.072
33      0.283
34      0.019
35      0.019
36      0.019
        ...
4566    0.019
4567    0.019
4568    0.019
4569    0.019
4570    0.068
4571    0.019
4572    0.019
4573    0.019
4574    0.019
4575    0.019
4576    0.019
4577    0.019
4580    0.019
4582    0.019
4583    0.019
4584    0.019
4586    0.019
4587    0.106
4588    0.019
4589    0.019
4590    0.019
4591    0.019
4592    0.019
4593    0.019
4594    0.019
4595    0.019
4597    0.019
4598    0.019
4599    0.019
4600    0.019
Name: char_freq5, Length: 3681, dtype: float64
0       0.10
1       0.10
2       0.10
3       0.10
4       0.10
5       0.10
6       0.10
7       0.10
8       0.10
9       0.10
10      0.10
11      0.10
12      0.10
16      0.10
17      0.10
18      0.10
20      0.10
21      0.10
23      0.10
24      0.10
25      0.10
26      0.10
27      0.10
30      0.10
31      0.10
32      0.10
33      0.10
34      0.58
35      0.10
36      0.10
        ...
4566    0.10
4567    0.10
4568    0.10
4569    0.10
4570    0.10
4571    0.10
4572    0.10
4573    0.10
4574    0.10
4575    0.10
4576    0.10
4577    0.10
4580    0.10
4582    0.10
4583    0.10
4584    0.10
4586    0.10
4587    0.10
4588    0.10
4589    0.10
4590    0.10
4591    0.10
4592    0.10
4593    0.10
4594    0.10
4595    0.10
4597    0.10
4598    0.10
4599    0.10
4600    0.10
Name: hp, Length: 3681, dtype: float64
0       0.02
1       0.19
2       0.17
3       0.29
4       0.29
5       0.02
6       0.02
7       0.02
8       0.28
9       0.36
10      0.94
11      0.23
12      0.02
16      0.02
17      0.02
18      0.16
20      0.02
21      0.13
23      0.02
24      0.02
25      0.13
26      0.02
27      1.64
30      0.02
31      0.02
32      0.02
33      0.02
34      0.02
35      0.02
36      0.02
        ...
4566    0.02
4567    0.02
4568    0.02
4569    0.02
4570    0.02
4571    0.02
4572    0.02
4573    0.02
4574    0.02
4575    0.02
4576    0.02
4577    0.02
4580    0.02
4582    0.02
4583    0.02
4584    0.02
4586    0.02
4587    0.02
4588    0.02
4589    0.02
4590    0.02
4591    0.02
4592    0.02
4593    0.02
4594    0.02
4595    0.02
4597    0.02
4598    0.02
4599    0.02
4600    0.02
Name: remove, Length: 3681, dtype: float64
0        51
1        91
2       475
3        30
4        30
5         5
6         6
7         1
8       435
9        33
10        4
11        1
12       51
16       21
17       85
18        6
20        1
21       56
23        5
24       12
25       56
26       12
27        2
30        0
31        1
32        1
33        5
34       20
35        4
36        2
       ...
4566      7
4567      5
4568      5
4569      9
4570      7
4571      5
4572      9
4573      1
4574      4
4575      1
4576      5
4577      7
4580      5
4582      7
4583      3
4584      3
4586     11
4587      6
4588      8
4589      9
4590      1
4591      9
4592      6
4593      9
4594      5
4595      9
4597      6
4598      4
4599      5
4600      5
Name: cap_run_length_longest, Length: 3681, dtype: int64
0       0.34
1       0.97
2       0.11
3       0.31
4       0.31
5       0.62
6       0.02
7       0.62
8       1.38
9       0.09
10      0.34
11      0.15
12      0.42
16      2.21
17      1.49
18      0.30
20      0.62
21      0.95
23      1.13
24      0.62
25      0.95
26      0.62
27      0.62
30      0.62
31      0.62
32      2.08
33      0.62
34      0.06
35      0.62
36      0.62
        ...
4566    0.40
4567    0.48
4568    0.62
4569    0.13
4570    0.12
4571    0.39
4572    0.62
4573    0.06
4574    0.33
4575    0.62
4576    0.62
4577    1.78
4580    0.62
4582    0.62
4583    0.62
4584    0.17
4586    0.26
4587    0.62
4588    0.62
4589    0.08
4590    0.04
4591    0.62
4592    0.62
4593    0.62
4594    0.62
4595    0.57
4597    1.38
4598    0.32
4599    0.30
4600    0.03
Name: your, Length: 3681, dtype: float64
0       0.01
1       0.01
2       0.01
3       0.01
4       0.01
5       0.01
6       0.01
7       0.01
8       0.01
9       0.01
10      0.01
11      0.01
12      0.01
16      0.01
17      0.01
18      0.01
20      0.01
21      0.01
23      0.01
24      0.01
25      0.01
26      0.01
27      0.01
30      0.01
31      0.01
32      0.01
33      0.01
34      0.01
35      0.01
36      0.01
        ...
4566    0.01
4567    0.01
4568    0.01
4569    0.01
4570    0.01
4571    0.01
4572    0.01
4573    0.01
4574    0.01
4575    0.01
4576    0.01
4577    0.01
4580    0.01
4582    0.01
4583    0.01
4584    0.01
4586    0.01
4587    0.01
4588    0.01
4589    0.01
4590    0.01
4591    0.01
4592    0.01
4593    0.01
4594    0.01
4595    0.01
4597    0.01
4598    0.01
4599    0.01
4600    0.01
Name: george, Length: 3681, dtype: float64
0       0.76
1       0.94
2       1.02
3       0.77
4       0.77
5       1.08
6       0.12
7       1.08
8       1.08
9       1.08
10      1.08
11      1.08
12      0.74
16      1.08
17      1.08
18      1.08
20      1.08
21      1.08
23      0.08
24      1.08
25      1.08
26      1.08
27      1.08
30      1.08
31      1.95
32      0.81
33      1.08
34      1.08
35      1.08
36      1.86
        ...
4566    1.08
4567    1.08
4568    1.08
4569    1.08
4570    0.58
4571    0.85
4572    1.08
4573    1.08
4574    0.79
4575    1.08
4576    1.08
4577    1.08
4580    1.08
4582    1.08
4583    1.08
4584    1.08
4586    1.08
4587    1.08
4588    1.08
4589    1.08
4590    0.50
4591    1.08
4592    1.08
4593    1.08
4594    1.08
4595    1.08
4597    1.08
4598    1.08
4599    1.08
4600    1.08
Name: free, Length: 3681, dtype: float64
0       0.13
1       0.13
2       0.07
3       0.13
4       0.13
5       0.13
6       0.13
7       0.13
8       0.13
9       0.13
10      0.13
11      0.13
12      0.13
16      0.13
17      0.13
18      0.13
20      0.13
21      0.13
23      0.13
24      1.31
25      0.13
26      1.31
27      0.13
30      1.04
31      0.13
32      0.13
33      0.13
34      0.13
35      0.13
36      0.13
        ...
4566    0.09
4567    0.57
4568    1.88
4569    0.37
4570    0.37
4571    0.13
4572    0.13
4573    0.43
4574    0.13
4575    1.25
4576    0.98
4577    0.13
4580    0.13
4582    0.13
4583    1.10
4584    0.09
4586    0.13
4587    0.13
4588    2.90
4589    0.13
4590    0.13
4591    0.13
4592    0.49
4593    0.13
4594    0.13
4595    0.13
4597    0.13
4598    0.13
4599    0.13
4600    1.84
Name: re, Length: 3681, dtype: float64
0       0.741
1       0.335
2       0.239
3       0.100
4       0.098
5       0.037
6       0.127
7       0.037
8       0.144
9       0.207
10      0.425
11      0.626
12      0.749
16      0.391
17      1.938
18      0.418
20      0.692
21      0.213
23      0.630
24      0.355
25      0.213
26      0.355
27      0.331
30      0.849
31      2.075
32      0.037
33      0.037
34      0.037
35      1.506
36      0.836
        ...
4566    0.037
4567    0.037
4568    0.037
4569    0.037
4570    0.037
4571    0.045
4572    0.037
4573    0.062
4574    0.037
4575    0.037
4576    0.037
4577    0.037
4580    0.037
4582    0.037
4583    0.037
4584    0.004
4586    0.037
4587    0.037
4588    0.037
4589    0.037
4590    0.037
4591    0.037
4592    0.037
4593    1.015
4594    0.037
4595    0.037
4597    0.316
4598    0.037
4599    0.037
4600    0.088
Name: char_freq4, Length: 3681, dtype: float64

0       0.08
1       0.26
2       0.83
3       0.23
4       0.23
5       1.45
6       1.52
7       1.48
8       0.21
9       0.21
10      0.40
11      0.02
12      0.06
16      0.54
17      0.40
18      0.71
20      0.40
21      0.36
23      0.76
24      0.40
25      0.36
26      0.40
27      0.40
30      0.40
31      0.40
32      1.49
33      0.40
34      0.40
35      0.40
36      2.54
        ...
4566    0.05
4567    0.40
4568    0.27
4569    0.15
4570    0.40
4571    0.17
4572    0.40
4573    0.22
4574    0.40
4575    0.40
4576    0.40
4577    0.40
4580    0.40
4582    0.40
4583    0.40
4584    0.40
4586    0.04
4587    0.40
4588    0.40
4589    0.14
4590    0.40
4591    0.40
4592    2.10
4593    0.40
4594    0.40
4595    0.40
4597    0.40
4598    0.40
4599    0.08
4600    0.40
Name: our, Length: 3681, dtype: float64
0       0.06
1       0.01
2       0.06
3       0.06
4       0.06
5       0.06
6       0.06
7       0.06
8       0.06
9       0.06
10      0.06
11      0.06
12      0.06
16      0.06
17      0.06
18      0.06
20      0.06
21      0.04
23      0.06
24      0.06
25      0.04
26      0.06
27      0.06
30      0.06
31      0.06
32      0.06
33      0.06
34      1.30
35      0.06
36      0.06
        ...
4566    0.06
4567    0.06
4568    0.06
4569    0.06
4570    0.06
4571    0.06
4572    0.06
4573    0.06
4574    0.06
4575    0.06
4576    0.06
4577    0.06
4580    0.06
4582    0.06
4583    0.06
4584    0.06
4586    0.06
4587    0.06
4588    0.06
4589    0.06
4590    0.06
4591    0.06
4592    0.06
4593    0.06
4594    0.06
4595    0.06
4597    0.06
4598    0.06
4599    0.06
4600    0.06
Name: 1999, Length: 3681, dtype: float64
0        0.271
1        1.629
2        6.336
3        0.052
4        0.052
5        0.485
6        1.814
7        1.035
8        6.259
9        1.756
10       2.173
11       2.242
12       0.243
16       1.167
17      31.976
18       2.165
20       0.348
21       0.916
23       2.354
24       1.981
25       0.920
26       1.981
27       0.874
30       1.519
31       0.424
32       2.095
33       1.785
34       0.341
35       0.708
36       0.657
         ...
4566     2.355
4567     2.349
4568     1.053
4569     2.485
4570     2.260
4571     2.229
4572     2.485
4573     1.996
4574     2.265
4575     1.765
4576     1.997
4577     2.285
4580     1.914
4582     2.219
4583     1.819
4584     1.985
4586     1.692
4587     2.213
4588     2.374
4589     2.485
4590     1.017
4591     2.485
4592     2.200
4593     2.485
4594     1.758
4595     2.485
4597     1.930
4598     2.081
4599     2.338
4600     2.235
Name: cap_run_length_avg, Length: 3681, dtype: float64
0       0.02
1       0.05
2       0.10
3       0.61
4       0.61
5       1.83
6       0.02
7       1.86
8       0.02
9       0.02
10      0.02
11      0.02
12      0.02
16      0.02
17      0.02
18      0.02
20      0.02
21      0.00
23      0.02
24      0.02
25      0.00
26      0.02
27      0.02
30      0.02
31      0.02
32      0.02
33      0.02
34      0.02
35      0.02
36      0.02
        ...
4566    0.02
4567    0.02
4568    0.02
4569    0.02
4570    0.02
4571    0.02
4572    0.02
4573    0.02
4574    0.02
4575    0.02
4576    0.02
4577    0.02
4580    0.02
4582    0.02
4583    0.02
4584    0.02
4586    0.02
4587    0.02
4588    0.02
4589    0.02
4590    0.02
4591    0.02
4592    0.02
4593    0.02
4594    0.02
4595    0.02
4597    0.02
4598    0.02
4599    0.02
4600    0.02
Name: internet, Length: 3681, dtype: float64
0       0.01
1       0.01
2       0.01
3       0.01
4       0.01
5       0.01
6       0.01
7       0.01
8       0.01
9       0.01
10      0.01
11      0.01
12      0.01
16      0.01
17      0.01
18      0.01
20      0.01
21      0.01
23      0.01
24      0.01
25      0.01
26      0.01
27      0.01
30      0.01
31      0.01
32      0.01
33      0.01
34      0.01
35      0.01
36      0.01
        ...
4566    0.01
4567    0.01
4568    0.01
4569    0.01
4570    0.01
4571    0.01
4572    0.01
4573    0.01
4574    0.01
4575    0.01
4576    0.01
4577    0.01
4580    0.01
4582    0.01
4583    0.01
4584    0.01
4586    0.01
4587    0.01
4588    0.01
4589    0.01
4590    0.01
4591    0.01
4592    0.01
4593    0.01
4594    0.01
4595    0.01
4597    0.01
4598    0.01
4599    0.01
4600    0.01
Name: george, Length: 3681, dtype: float64

In [11]:
clfs

[{'label': 1,
  'feature_name': 'char_freq4',
  'threshold': 0.084,
  'alpha': 0.6882377113777169},
 {'label': 1,
  'feature_name': 'char_freq5',
  'threshold': 0.019,
  'alpha': 0.6228088061977658},
 {'label': -1,
  'feature_name': 'hp',
  'threshold': 0.1,
  'alpha': 0.4269492682024884},
 {'label': 1,
  'feature_name': 'remove',
  'threshold': 0.02,
  'alpha': 0.4851532637554392},
 {'label': 1,
  'feature_name': 'cap_run_length_longest',
  'threshold': 10,
  'alpha': 0.36781909063787244},
 {'label': 1,
  'feature_name': 'your',
  'threshold': 0.62,
  'alpha': 0.2619125490356106},
 {'label': -1,
  'feature_name': 'george',
  'threshold': 0.01,
  'alpha': 0.2526422307316929},
 {'label': 1,
  'feature_name': 'free',
  'threshold': 1.08,
  'alpha': 0.27059219164757936},
 {'label': -1,
  'feature_name': 're',
  'threshold': 0.13,
  'alpha': 0.2375124945508494},
 {'label': -1,
  'feature_name': 'char_freq4',
  'threshold': 0.037000000000000005,
  'alpha': 0.1914944565533873},
 {'label': 1,
  'feature_name': 'our',
  'threshold': 0.4,
  'alpha': 0.21364925115902275},
 {'label': -1,
  'feature_name': '1999',
  'threshold': 0.06,
  'alpha': 0.2077903025034995},
 {'label': 1,
  'feature_name': 'cap_run_length_avg',
  'threshold': 3.485,
  'alpha': 0.2193971534107055},
 {'label': 1,
  'feature_name': 'internet',
  'threshold': 0.02,
  'alpha': 0.143918972414656},
 {'label': -1,
  'feature_name': 'george',
  'threshold': 0.01,
  'alpha': 0.20768884566217632}]

In [12]:
np.mean(np.array(y_test) == y_pred)

0.9065217391304348

In [13]:
testPredict = pd.DataFrame()
trainPredict = pd.DataFrame()
testPredict['y_predict'] = y_pred
trainPredict['y_predict'] = y_train_pred


testPredict.to_csv('y_test_predict.csv')
trainPredict.to_csv('y_train_predict.csv')