In [1]:
import numpy as np
import pandas as pd
import time
import seaborn as sns # visualization
import matplotlib.pyplot as plt
import random

%matplotlib inline

In [2]:
df = pd.read_csv("WineData/wine.txt", header=None)

In [3]:
train = pd.read_csv("WineData/train_wine.csv", header=None) 
test = pd.read_csv("WineData/test_wine.csv", header=None) 
test.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.56,1.73,2.46,20.5,116,2.96,2.78,0.20,2.45,6.25,0.98,3.03,1120
2,3,12.79,2.67,2.48,22.0,112,1.48,1.36,0.24,1.26,10.80,0.48,1.47,480
3,2,12.17,1.45,2.53,19.0,104,1.89,1.75,0.45,1.03,2.95,1.45,2.23,355
4,1,14.22,1.70,2.30,16.3,118,3.20,3.00,0.26,2.03,6.38,0.94,3.31,970

In [4]:
df = train.append(test)
df.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
23,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
24,2,12.42,2.55,2.27,22.0,90,1.68,1.84,0.66,1.42,2.70,0.86,3.30,315
25,2,12.64,1.36,2.02,16.8,100,2.02,1.41,0.53,0.62,5.75,0.98,1.59,450
26,2,11.76,2.68,2.92,20.0,103,1.75,2.03,0.60,1.05,3.80,1.23,2.50,607
27,2,11.79,2.13,2.78,28.5,92,2.13,2.24,0.58,1.76,3.00,0.97,2.44,466

In [5]:
df_norm = df[[1,2,3,4,5,6,7,8,9,10,11,12,13]].apply(lambda x: (x - x.min()) / (x.max() - x.min()))
df_norm.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.842105,0.191700,0.572193,0.257732,0.619565,0.627586,0.573840,0.283019,0.593060,0.372014,0.455285,0.970696,0.561341
1,0.163158,0.183794,0.673797,0.793814,0.195652,0.324138,0.267932,0.509434,0.293375,0.112628,0.715447,0.710623,0.202568
2,0.100000,0.000000,0.609626,0.536082,0.195652,0.517241,0.352321,0.547170,0.324921,0.153584,0.504065,0.380952,0.111270
3,0.723684,0.399209,0.502674,0.587629,0.217391,0.127586,0.071730,0.528302,0.195584,0.708191,0.178862,0.150183,0.240371
4,0.597368,0.193676,0.417112,0.329897,0.260870,0.489655,0.390295,0.264151,0.296530,0.227816,0.439024,0.549451,0.718260

In [6]:
target = df[[0]]
df = pd.concat([df_norm, target], axis=1)
df.columns = ['f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10', 'f11', 'f12', 'f13', 'label']
label_cols = pd.get_dummies(df.label)
df = pd.concat([df_norm, label_cols], axis=1)
df.columns = ['f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10', 'f11', 'f12', 'f13', 'label1', 'label2', 'label3']
df.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12,f13,label1,label2,label3
0,0.842105,0.191700,0.572193,0.257732,0.619565,0.627586,0.573840,0.283019,0.593060,0.372014,0.455285,0.970696,0.561341,1,0,0
1,0.163158,0.183794,0.673797,0.793814,0.195652,0.324138,0.267932,0.509434,0.293375,0.112628,0.715447,0.710623,0.202568,0,1,0
2,0.100000,0.000000,0.609626,0.536082,0.195652,0.517241,0.352321,0.547170,0.324921,0.153584,0.504065,0.380952,0.111270,0,1,0
3,0.723684,0.399209,0.502674,0.587629,0.217391,0.127586,0.071730,0.528302,0.195584,0.708191,0.178862,0.150183,0.240371,0,0,1
4,0.597368,0.193676,0.417112,0.329897,0.260870,0.489655,0.390295,0.264151,0.296530,0.227816,0.439024,0.549451,0.718260,1,0,0

In [7]:
train = df.iloc[:151, :]
train.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12,f13,label1,label2,label3
0,0.842105,0.191700,0.572193,0.257732,0.619565,0.627586,0.573840,0.283019,0.593060,0.372014,0.455285,0.970696,0.561341,1,0,0
1,0.163158,0.183794,0.673797,0.793814,0.195652,0.324138,0.267932,0.509434,0.293375,0.112628,0.715447,0.710623,0.202568,0,1,0
2,0.100000,0.000000,0.609626,0.536082,0.195652,0.517241,0.352321,0.547170,0.324921,0.153584,0.504065,0.380952,0.111270,0,1,0
3,0.723684,0.399209,0.502674,0.587629,0.217391,0.127586,0.071730,0.528302,0.195584,0.708191,0.178862,0.150183,0.240371,0,0,1
4,0.597368,0.193676,0.417112,0.329897,0.260870,0.489655,0.390295,0.264151,0.296530,0.227816,0.439024,0.549451,0.718260,1,0,0

In [8]:
test = df.iloc[151: , :]
test.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12,f13,label1,label2,label3
0,0.842105,0.191700,0.572193,0.257732,0.619565,0.627586,0.573840,0.283019,0.593060,0.372014,0.455285,0.970696,0.561341,1,0,0
1,0.665789,0.195652,0.588235,0.510309,0.500000,0.682759,0.514768,0.132075,0.643533,0.424061,0.406504,0.644689,0.600571,1,0,0
2,0.463158,0.381423,0.598930,0.587629,0.456522,0.172414,0.215190,0.207547,0.268139,0.812287,0.000000,0.073260,0.144080,0,0,1
3,0.300000,0.140316,0.625668,0.432990,0.369565,0.313793,0.297468,0.603774,0.195584,0.142491,0.788618,0.351648,0.054922,0,1,0
4,0.839474,0.189723,0.502674,0.293814,0.521739,0.765517,0.561181,0.245283,0.511041,0.435154,0.373984,0.747253,0.493581,1,0,0

In [9]:
def sigmoid(z):
    return 1/(1 + np.exp(-(z)))

In [10]:
def square_loss(y, y_pred):
    return ((y - y_pred)**2).mean()

In [18]:
X = train.values[:,:13]
X[:5]

array([[0.38947368, 0.19565217, 0.3315508 , 0.51030928, 0.16304348,
        0.42068966, 0.33333333, 0.35849057, 0.33753943, 0.14163823,
        0.45528455, 0.84249084, 0.2810271 ],
       [0.60789474, 0.03952569, 0.53475936, 0.32989691, 0.43478261,
        0.53448276, 0.20253165, 0.79245283, 0.00315457, 0.1612628 ,
        0.43902439, 0.24175824, 0.33666191],
       [0.45789474, 0.53162055, 0.3315508 , 0.27835052, 0.10869565,
        0.22413793, 0.19198312, 0.56603774, 0.13249211, 0.18088737,
        0.17886179, 0.31135531, 0.06704708],
       [0.80789474, 0.25296443, 0.55614973, 0.42268041, 0.35869565,
        0.61034483, 0.5443038 , 0.35849057, 0.6214511 , 0.41979522,
        0.4796748 , 0.54212454, 0.55777461],
       [0.70526316, 0.97035573, 0.5828877 , 0.51030928, 0.27173913,
        0.24137931, 0.05696203, 0.73584906, 0.20504732, 0.54778157,
        0.1300813 , 0.17216117, 0.32952924]])

In [12]:
y = np.array(train.iloc[:, 13:])
y

array([[1, 0, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 0, 1],
       [1, 0, 0],
       [1, 0, 0],
       [0, 0, 1],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [0, 0, 1],
       [0, 1, 0],
       [0, 1, 0],
       [0, 0, 1],
       [1, 0, 0],
       [1, 0, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [1, 0, 0],
       [0, 0, 1],
       [0, 1, 0],
       [0, 0, 1],
       [1, 0, 0],
       [0, 0, 1],
       [0, 0, 1],
       [1, 0, 0],
       [0, 0, 1],
       [1, 0, 0],
       [0, 1, 0],
       [0, 0, 1],
       [0, 0, 1],
       [0, 1, 0],
       [0, 0, 1],
       [0, 0, 1],
       [1, 0, 0],
       [0, 1, 0],
       [0, 0, 1],
       [0, 1, 0],
       [0, 1, 0],
       [0, 0, 1],
       [0, 1, 0],
       [1, 0, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [1, 0, 0],
       [1, 0, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 0, 1],
       [0, 0, 1],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 0, 1],
       [0, 0, 1],
       [1, 0, 0],
       [0, 0, 1],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [1, 0, 0],
       [1, 0, 0],
       [0, 1, 0],
       [1, 0, 0],
       [0, 0, 1],
       [1, 0, 0],
       [0, 0, 1],
       [1, 0, 0],
       [1, 0, 0],
       [0, 1, 0],
       [1, 0, 0],
       [0, 1, 0],
       [0, 1, 0],
       [1, 0, 0],
       [0, 0, 1],
       [0, 1, 0],
       [1, 0, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 0, 1],
       [1, 0, 0],
       [0, 0, 1],
       [0, 0, 1],
       [1, 0, 0],
       [1, 0, 0],
       [0, 1, 0],
       [0, 0, 1],
       [1, 0, 0],
       [1, 0, 0],
       [0, 1, 0],
       [0, 1, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [0, 0, 1],
       [0, 1, 0],
       [1, 0, 0],
       [0, 1, 0],
       [0, 0, 1],
       [1, 0, 0],
       [0, 1, 0],
       [0, 0, 1],
       [1, 0, 0],
       [1, 0, 0],
       [0, 0, 1],
       [1, 0, 0],
       [0, 0, 1],
       [0, 1, 0],
       [1, 0, 0],
       [1, 0, 0],
       [0, 1, 0],
       [1, 0, 0],
       [0, 0, 1],
       [0, 1, 0],
       [0, 0, 1],
       [1, 0, 0],
       [0, 0, 1],
       [0, 0, 1],
       [0, 0, 1],
       [1, 0, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 0, 1],
       [0, 0, 1],
       [0, 1, 0],
       [0, 1, 0],
       [1, 0, 0],
       [0, 1, 0],
       [0, 0, 1],
       [0, 0, 1],
       [1, 0, 0],
       [0, 1, 0],
       [0, 0, 1],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [0, 1, 0],
       [0, 1, 0],
       [0, 1, 0],
       [1, 0, 0],
       [0, 0, 1]], dtype=uint8)

In [13]:
num_inputs = len(X[0])
hidden_layer_neurons = 5
np.random.seed(4)
w1 = 2*np.random.random((num_inputs, hidden_layer_neurons)) - 1
w1

array([[ 0.93405968,  0.0944645 ,  0.94536872,  0.42963199,  0.39545765],
       [-0.56782101,  0.95254891, -0.98753949, -0.49403528, -0.13041694],
       [ 0.55876584, -0.60462985,  0.72598647,  0.96680135, -0.67231552],
       [ 0.19466789, -0.9820278 , -0.22685743, -0.91167988,  0.91330594],
       [-0.12770671,  0.89795461,  0.57261197,  0.7325786 , -0.65366916],
       [-0.85010283,  0.20148544, -0.66405563,  0.46676034, -0.18311228],
       [ 0.05581765,  0.87514317,  0.04339224, -0.78361323, -0.68355319],
       [ 0.0904053 ,  0.04880816,  0.27522049, -0.19700911,  0.29961022],
       [-0.20619999,  0.24783223,  0.53480993, -0.64205218, -0.24884846],
       [ 0.00506612,  0.37333416, -0.4926407 ,  0.10948173,  0.24986169],
       [ 0.79100233, -0.27429282,  0.27511415, -0.6171072 , -0.00441177],
       [-0.63510919,  0.83676608, -0.13635586,  0.6603762 , -0.16644739],
       [ 0.80933518, -0.19034957, -0.33765099,  0.14427754,  0.6908873 ]])

In [14]:
num_outputs = len(y[0])
w2 = 2*np.random.random((hidden_layer_neurons, num_outputs)) - 1
w2

array([[ 0.72202862,  0.19137623, -0.83067678],
       [ 0.19453321, -0.50909258,  0.4651869 ],
       [ 0.78930258,  0.02946794,  0.20712702],
       [-0.86986438,  0.08014946, -0.74162643],
       [ 0.22912569, -0.27269931,  0.53551607]])

In [15]:
learning_rate = 0.2 # slowly update the network
for epoch in range(50000):
    z1 = np.dot(X, w1)
    l1 = sigmoid(z1) # sigmoid function
    z2 = np.dot(l1, w2)
    l2 = sigmoid(z2)
    loss = square_loss(y, l2)
    l2_delta = (y - l2)*(l2 * (1-l2))
    l1_delta = l2_delta.dot(w2.T) * (l1 * (1-l1))
    w2 += l1.T.dot(l2_delta) * learning_rate
    w1 += X.T.dot(l1_delta) * learning_rate
print('Error:', loss)

Error: 3.062701604585429e-06

In [16]:
X = test.values[:,:13]
y = np.array(test.iloc[:, 13:])

l1 = 1/(1 + np.exp(-(np.dot(X, w1))))
l2 = 1/(1 + np.exp(-(np.dot(l1, w2))))

np.round(l2,3)

array([[1.   , 0.   , 0.   ],
       [0.999, 0.   , 0.   ],
       [0.001, 0.   , 1.   ],
       [0.   , 1.   , 0.   ],
       [1.   , 0.   , 0.   ],
       [0.   , 1.   , 0.   ],
       [0.   , 1.   , 0.   ],
       [1.   , 0.   , 0.   ],
       [0.   , 0.   , 1.   ],
       [0.   , 1.   , 0.   ],
       [0.   , 1.   , 0.   ],
       [0.001, 0.   , 1.   ],
       [0.001, 0.   , 1.   ],
       [1.   , 0.   , 0.   ],
       [0.   , 1.   , 0.   ],
       [0.001, 0.   , 1.   ],
       [0.002, 0.999, 0.   ],
       [1.   , 0.   , 0.001],
       [1.   , 0.   , 0.   ],
       [0.028, 0.991, 0.   ],
       [1.   , 0.   , 0.   ],
       [0.   , 1.   , 0.   ],
       [0.997, 0.002, 0.   ],
       [1.   , 0.   , 0.   ],
       [0.   , 1.   , 0.   ],
       [0.   , 0.99 , 0.092],
       [0.004, 0.999, 0.   ],
       [0.   , 1.   , 0.   ]])

In [17]:
yp = np.argmax(l2, axis=1) # prediction
y_res = np.argmax(y, axis = 1)
res = yp == np.argmax(y, axis=1)
correct = np.sum(res)/len(res)

print('Correct:',sum(res),'/',len(res), ':', (correct*100),'%')

Correct: 28 / 28 : 100.0 %